*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

a{
    text-decoration: none;
}

.banner1{
    width: 100vw;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(40deg, rgba(255,255,255,1) 0%, rgba(230,85,195,1) 25%, rgba(255,0,0,1) 55%, rgba(255,200,0,1) 100%);
    text-align: center;
    border-top: 0.1rem solid;
    border-left: 0.1rem solid;
    border-right: 0.1rem solid;
}

#mainheader{
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    padding-top: 0.5rem;
}

#mail{
    color: black;
}

.banner2{
    width: 100vw;
    height: 100vh;
    background: rgb(65,95,250);
    background: radial-gradient(circle, rgba(65,95,250,0.65) 0%, rgba(70,250,195,1) 90%);
    border: 0.1rem solid;
}

.button{
    margin: 25%;
    text-align: center;
}

#cf{
    background: rgba(245, 245, 245, 0.6);
    padding: 1rem 1rem;
    cursor: pointer;
    border: 0.1rem solid;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}